body {
    background-color: rgb(50, 50, 50);
}

.titlebar {
    width: 100%;
}

.title {
    background-color: black;
    font-family: Arial;
    border-radius: 0px 0px 8px 8px;
    border-top: 8px solid black;
    margin-top: -8px;
    text-align: center;
    padding: 10px;
    width: 340px;
    color: white
}

.userInputContainer {
    width: 200px;
    height: 150px;
    background-color: gray;
    position: fixed;
    right: 10px;
    border-radius: 6px;
    box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.userInput {
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    resize: none;
}

.userInput:focus {
    outline: 1px solid blue;
}

.userInputSubmit {
    width: 98%;
    background-color: transparent;
    border-radius: 0px 0px 3px 3px;
    border: none;
    height: 20px;
    transition: background-color 0.2s;
    font-family: Arial;
    font-weight: 900;
}

.userInputSubmit:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.mainDisplay {
    display: grid;
    grid: auto / auto 210px;
    width: 100%;
    font-family: arial;
}

.wordDisplayContainer {
    width: auto;
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.wordData {
    background-color: gray;
    border-radius: 6px 6px 0px 0px;
    max-width: 1000px;
    padding-bottom: 10px;
}

.wordDataWrapper {
    display: flex;
    justify-content: space-around;
}

.wordDataContainer {
    display: flex;
    flex-flow: column;
    width: 300px;
}

.wordTitleBar {
    grid-area: 1 / 1 / span 1 / span 2;
    border-radius: 6px 6px 0px 0px;
    background-color: black;
    padding: 10px;
    text-align: center;
    margin: 0px;
}

.wordSubtitle {
    background-color: black;
    border-radius: 6px 6px 0px 0px;
    color: white;
    padding: 3px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

.wordBodyText {
    font-size: 12px;
    margin: 0px;
}